* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgba(231, 116, 185, 0.6);
}

.wrapper .header {
  z-index: 1;
  background: #bd6896;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu {
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title {
  color: #38163a;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .sidebar-btn {
  color: #38163a;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu ul {
  display: flex;
}

.wrapper .sidebar {
  z-index: 1;
  background: #33001c;
  position: fixed;
  top: 70px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu {
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item {
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .form {
  display: block;
  color: #fff;
  background: #ffc5e1;
  position: relative;
  transition-property: color;
  margin-right: 20px;

  width: 326px;
  height: 58px;
  left: 60px;
  top: 0px;
  padding: 25px 20px;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn {
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
  background: #4d1b36;
  transition: 0.3s ease;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu {
  background: #4d1b36;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a {
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
  background: #4d1b36;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child) {
  border-bottom: 1px solid #582942;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i {
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu {
  max-height: 500px;
}

.wrapper .main-container {
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 15px;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 0.3s;
}

.konten {
  padding: 30px 0;
}

.konten form {
  background-color: #bea1c4;
  max-width: 639px;
  height: 500px;
  margin: auto;
  padding: 30px 70px;
  font-size: 35px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span {
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn {
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i {
  font-size: 18px;
  padding-left: 3px;
}

.active {
  color: v#F7F6FB;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #f7f6fb;
}

.wrapper.collapse .main-container {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

/*===== ISI KONTEN BANTUAN DAN PENGUMUMAN=====*/

.data-form {
  padding: 180px 0;
}

.data-form form {
  background-color: #bea1c4;
  max-width: 639px;
  height: 270px;
  margin: auto;
  padding: 30px 70px;
  font-size: 35px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
